$bg-object-position-left: 18px;
$bg-object-height: 97px;
$num-of-reel-objects: 10;

// function for setting the background of the reel to show a specific part
@function positionReelNumberBg($number) {
  @return ((-$bg-object-height * $number) +14);
}
// animate the reel background down from a certain position
@mixin animateBackgroundDownFromPosition($startingPosition) {
  @keyframes animateBackgroundDown {
    from { background-position: $bg-object-position-left $startingPosition }
    to { background-position:  $bg-object-position-left ($bg-object-height * $num-of-reel-objects + $startingPosition)}
  }
}

// mixin for generating all reel numbers
@mixin generate-reel-number($class, $number, $offset) {
  &.#{$class}-#{$number} {
    background-position: $bg-object-position-left positionReelNumberBg($offset);
    @include animateBackgroundDownFromPosition(positionReelNumberBg($offset));
  }
}

.reel {
  position: relative;
  display: inline-block;
  background: url("/images/bg-reel-normal.png") repeat-y;
  width: 80px;
  margin-right: 4px;
  height: 80px;
  left: 79px;
  top: 68px;
  background-size: 55%;
  border: 2px solid transparent;

  &.motion {
    background: url("/images/bg-reel-blur.png") repeat-y;
    background-size: 55%;
  }

  @for $i from 0 to $num-of-reel-objects {
    @include generate-reel-number("reel-number", $i, $num-of-reel-objects - 1 - $i);
  }
}