.slot-machine {
  margin-top: 30px;
  margin-bottom: 20px;

  .slot-wrapper {
    margin: 0 auto;
    position: relative;
    height: 219px;
    width: 350px;
    left: -28px;
    background: url("/images/mask.png") no-repeat;
    background-size: 100%;
    background-position-x: 56px;
    background-position-y: -20px;
  }
}