@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.app-container {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Josefin Sans', sans-serif;
}

/* components */
@import 'slot-machine';
@import 'reel';
@import 'buttons';
@import 'xkcd-comic';